@import './styles/base.css';
@import './styles/layout.css';
@import './styles/alerts.css';
@import './styles/header.css';
@import './styles/sidebar.css';
@import './styles/footer.css';
@import './styles/not-found.css';
@import './styles/auth.css';
@import './styles/home/index.css';
