@import '../global/styles/base.css';
@import '../global/styles/layout.css';
@import '../global/styles/alerts.css';
@import '../global/styles/header.css';
@import '../global/styles/sidebar.css';
@import '../global/styles/footer.css';
@import '../global/styles/not-found.css';
@import './auth/styles/auth.css';
@import './(main)/styles/index.css';